body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
i,
b,
textarea,
button,
input,
select {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #333;
  box-sizing: border-box;
  font-family: '-apple-system', "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body:focus,
div:focus,
span:focus,
header:focus,
footer:focus,
nav:focus,
section:focus,
aside:focus,
article:focus,
ul:focus,
dl:focus,
dt:focus,
dd:focus,
li:focus,
a:focus,
p:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
i:focus,
b:focus,
textarea:focus,
button:focus,
input:focus,
select:focus {
  outline: none;
}
html,
body {
  font-size: 0.24rem;
}
h1 {
  font-size: 1rem;
  font-weight: bold;
}
img {
  width: 100%;
  height: auto;
  border: none;
  margin: 0 auto;
  display: block;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.clear {
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  *zoom: 1;
}
.spacer {
  height: .25rem;
  background: #fbf9f9;
}
@font-face {
  font-family: 'iconfont';  /* project id 505148 */
  src: url('//at.alicdn.com/t/font_505148_rfgzzkidcwbqpvi.eot');
  src: url('//at.alicdn.com/t/font_505148_rfgzzkidcwbqpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_505148_rfgzzkidcwbqpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_505148_rfgzzkidcwbqpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_505148_rfgzzkidcwbqpvi.svg#iconfont') format('svg');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: .24rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
  color: inherit;
  line-height: inherit;
}
.table {
  display: table;
  text-align: center;
  width: 100%;
  height: 100%;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
